.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  padding: 7px 10px;
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #f9f9f9;
  cursor: pointer;
}

.pagination button[disabled] {
  opacity: 0.5;
  cursor: no-drop;
}

.pagination span.active {
  font-weight: bold;
}

.pagination span {
  padding: 5px 10px;
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
}

.pagination span:hover {
  background-color: #f0f0f0;
}
